<h2 [class]="{ 'text-uppercase': booleanVariable }">{{ title }}</h2>
<ul>
  <!-- ngFor directive: deprecated -->
  <!-- <li *ngFor="let course of courses">
    {{ course }}
  </li> -->
  <ul>
    @for (course of courses; track course.name) {
    <li [ngClass]="{ 'text-lg-start': booleanVariable }">
      {{ course.name + " " + course.level }}
      <div [ngSwitch]="course.name"> 
        <small *ngSwitchCase="'Math'">{{"Math course starts in 3 days." | capitalization}}</small>
        <small *ngSwitchCase="'Science'">{{"Science course starts in 1 day." | capitalization}}</small>
        <small *ngSwitchDefault>{{"Unknown start day." | capitalization}} </small>
      </div>
    </li>
    } @empty {
    <li>There are no items.</li>
    }
  </ul>
</ul>